html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover, &:active {
    color: inherit;
  }
}

em {
  margin: auto 0.1em;
  font-style: normal;
  font-size: 1.3em;
  font-weight: bold;
}