.sec_faq {
  padding: $sectionSpacer_sp_v 0;
  background: $grey-m;
  @include mediaQuery-up(md) {
    padding: $sectionSpacer_pc_v 0;
  }
}

.faq-box {
  max-width: $bp-laptop_m;
  margin: auto;
  .faq {
    margin-left: $minspacer_h;
  }
  @include mediaQuery-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .faq {
      width: calc(50% - #{$minspacer_h*2 + $minspacer_h + $minspacer_h*2});
      margin-right: $minspacer_h;
    }
  }
}

.faq {
  position: relative;
  padding: $minspacer_v $minspacer_h $minspacer_v 0;
  overflow: hidden;
  &_q, &_a {
    display: flex;
    border-left: 3px $black;
    &:before {
      margin-right: 0.25em;
      line-height: 1;
      font-family: $font-family-handwritten;
      font-display: block;
    }
  }
  &_q {
    $arrowSize: 9px;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-left: $minspacer_h/2;
    padding-right: ceil($arrowSize*1.3 + 2);
    border-left-style: solid;
    font-weight: bold;
    background-color: $grey-m;
    cursor: pointer;
    &:before {
      content: "Q";
      font-weight: normal;
      font-size: 3.0rem * 1.4;
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      top: calc( 50% - #{$arrowSize/2} );
      width: $arrowSize;
      height: $arrowSize;
      border: solid $black;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
      transition: transform 300ms ease;
    }
  }
  &_a {
    position: relative;
    align-items: flex-start;
    top: 5px;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    padding-left: $minspacer_h;
    border-left-style: dashed;
    transform: translateY(-100%);
    transform-origin: top center;
    transition: all 300ms ease, opacity 300ms ease 50ms, transform 200ms ease 300ms, top 0ms;
    &:before {
      content: "A";
      position: relative;
      left: -2px;
      font-size: 3.2rem * 1.4;
    }
  }
  .open {
    &.faq_q {
      &:after {
        transform: rotate(45deg) scale(-1, -1);
      }
    }
    ~ .faq_a {
      top: 0;
      max-height: 500px;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: all 100ms ease, opacity 300ms ease 150ms, transform 200ms ease 100ms;
    }
  }
  @include mediaQuery-up(md) {
    margin-top: $minspacer_v*2;
    &_q {
      padding-right: 0;
      cursor: unset;
      &:after {
        content: unset;
      }
    }
    &_a {
      top: 0;
      height: 100%;
      max-height: none;
      visibility: visible;
      opacity: 1;
      padding-top: $minspacer_v;
      transform: translateY(0);
      transition: unset;
    }
  }
}