.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 300ms ease 100ms, opacity 300ms ease;

  &.active {
    visibility: visible;
    opacity: 1.0;
    transform: translateY(0);
    transition: opacity 300ms ease 100ms, transform 300ms ease;
  }
}

.footer-fixed {
  height: $fixedfooter_h - $minspacer_v*2;
  padding: $minspacer_v 0;
  box-shadow: 0 -2px 1px 0px rgba($grey-der, 0.25);
  background: $grey-d;
  color: $white;

  .fixed-text {
    text-align: center;
  }

  .buttons-box {
    padding-bottom: $minspacer_h;
  }

  .button_main {
    margin-top: 0;
    &:before {
      display: none;
    }
  }

  @include mediaQuery-up(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    .button_main {
      margin-left: $minspacer_v*6;
      &:before {
        display: block;
        top: 50%;
        left: -1 * $minspacer_h;
        transform: rotate(-90deg);
        transform-origin: 50% 100%;
      }
      &:hover {
        &:before {
          transform: scaleX(3) rotate(-90deg);
        }
      }
    }
  }
  
}